/* HomePage.css */

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
    text-align: center;
  }

.play-button {
    text-align: center;
    margin-top: 20px;
  }
  
  .play-button i {
    font-size: 48px;
    color: #007bff;
    cursor: pointer;
  }
  
  .play-button i:hover {
    color: #ff5733;
  }
  
/* Center the table and adjust its width */
table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Remove border for table rows except the first one */
  table tr:not(:first-child) {
    border: none;
    border-bottom: 1px solid #ddd; /* Add a single horizontal line */
  }
  
  /* Style the table header and cells */
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Even rows will have a background color */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style the links */
  a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff5733;
  }
  
  /* Add the rest of your existing CSS styles */
  