/* Header Container */
header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 100px;
  }
  
  /* Logo Styles */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navigation Styles */
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  

.authUser{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .cart i {
    font-size: 32px; /* Increase the icon size */
    color: #ff5733; /* Change the icon color to your desired color */
    margin-right: 5px; /* Adjust the margin as needed */
  }
  
  .cart a {
    text-decoration: none;
    color: #333;
  }
  
  .item-count {
    background-color: #ff5733;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    padding: 8px 12px; /* Adjust the padding to fit the larger icon */
    margin-left: 5px; 
    
    /* Adjust the margin as needed */
  }

  .sign-out-button {
    background-color: #ff0000; /* Choose your desired background color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Add margin to separate it from the cart icon */
  }
  
  .sign-out-button:hover {
    background-color: #cc0000; /* Choose a darker color for hover effect */
  }
